<!-- Shop -->

<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle brands_subtitle">Brands</div>
                        <ul class="brands_list">
                            <li class="brand"><a href="#">Macvbook</a></li>
                            <li class="brand"><a href="#">HP</a></li>
                            <li class="brand"><a href="#">Dell</a></li>
                            <li class="brand"><a href="#">Asus</a></li>
                            <li class="brand"><a href="#">Acer</a></li>
                            <li class="brand"><a href="#">Lenovo</a></li>
                        </ul>
                    </div>
                    <div class="sidebar_section filter_by_section">
                        <div class="sidebar_title">Filter By</div>
                        <div class="sidebar_subtitle">Price</div>
                        <div class="filter_price">
                            <div id="slider-range" class="slider_range"></div>
                            <p>Range: </p>
                            <p><input type="text" id="amount" class="amount" readonly style="border:0; font-weight:bold;"></p>
                        </div>
                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle color_subtitle">Color</div>
                        <ul class="colors_list">
                            <li class="color"><a href="#" style="background: #b19c83;"></a></li>
                            <li class="color"><a href="#" style="background: #000000;"></a></li>
                            <li class="color"><a href="#" style="background: #999999;"></a></li>
                            <li class="color"><a href="#" style="background: #0e8ce4;"></a></li>
                            <li class="color"><a href="#" style="background: #df3b3b;"></a></li>
                            <li class="color"><a href="#" style="background: #ffffff; border: solid 1px #e1e1e1;"></a></li>
                        </ul>
                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle system_subtitle">Operating System</div>
                        <ul class="system_list">
                            <li class="system"><input type="checkbox" name="system" value=""><p>&nbsp; Mac OS</p><br></li>
                            <li class="system"><input type="checkbox" name="system" value=""><p>&nbsp; Windows 10</p><br></li>
                            <li class="system"><input type="checkbox" name="system" value=""><p>&nbsp; Chorme OS</p><br></li>
                            <li class="system"><input type="checkbox" name="system" value=""><p>&nbsp; Windows 8</p><br></li>
                            <li class="system"><input type="checkbox" name="system" value=""><p>&nbsp; Windows 7</p><br></li>
                        </ul>
                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle system_subtitle">Screen Size</div>
                        <ul class="screen_list">
                            <li class="screen"><input type="checkbox" name="screen" value=""><p>&nbsp; 10" & Under</p><br></li>
                            <li class="screen"><input type="checkbox" name="screen" value=""><p>&nbsp; 11" - 14"</p><br></li>
                            <li class="screen"><input type="checkbox" name="screen" value=""><p>&nbsp; 15" - 16"</p><br></li>
                            <li class="screen"><input type="checkbox" name="screen" value=""><p>&nbsp; 17 & Larger</p><br></li>
                        </ul>
                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle system_subtitle">Process Type</div>
                        <ul class="process_list">
                            <li class="process"><input type="checkbox" name="process" value=""><p>&nbsp; Intel Celeron</p><br></li>
                            <li class="process"><input type="checkbox" name="process" value=""><p>&nbsp; Intel Core i3</p><br></li>
                            <li class="process"><input type="checkbox" name="process" value=""><p>&nbsp; Intel Core i5</p><br></li>
                            <li class="process"><input type="checkbox" name="process" value=""><p>&nbsp; Intel Core i7</p><br></li>
                            <li class="process"><input type="checkbox" name="process" value=""><p>&nbsp; Intel Core 2 Duo</p><br></li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="col-lg-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>{{CountProduct}}</span> products found</div>
                        <div class="shop_sorting">
                            <span>Sort by:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">Highest rated<i class="fas fa-chevron-down"></span></i>
                                    <ul>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Highest rated</li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>Name</li>
                                        <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>Price</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>

                        {{#each products}}
                            <!-- Product Item -->
                            <div class="product_item is_new">
                                <div class="product_border"></div>
                                <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/images_product/{{ProID}}/{{ProID}}.jpg" alt=""></div>
                                <div class="product_content">
                                    <div class="product_price">{{number_format Price}}</div>
                                    <div class="product_name"><div><a href="./product.html">{{ProName}}</a></div></div>
                                </div>
                                <div class="product_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        {{/each}}

                    </div>

                    <!-- Shop Page Navigation -->

                    <div class="shop_page_nav d-flex flex-row">
                        <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
                        <ul class="page_nav d-flex flex-row">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">21</a></li>
                        </ul>
                        <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>