<br>
<div class="container">
    <div class="row profile">
        <div class="col-md-3" style="background-color: #9898b9">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="/assets/account.png" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{layoutVM.curUser.f_Username}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{layoutVM.curUser.f_Name}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li id="nav-element1">
                            <a class="tablinks" href="#" onclick="OpenTabs(event,'Overview')">
                                <i class="fa fa-home" aria-hidden="true"></i></i>
                                Overview </a>
                        </li>
                        <li id="nav-element2">
                            <a class="tablinks" href="/user/profile" onclick="OpenTabs(event,'Information')">
                                <i class="fa fa-user-circle" aria-hidden="true"></i></i>
                                Account Information </a>
                        </li>
                        <li id="nav-element3" class="nav-element active">
                            <a class="tablinks" href="/user/history" onclick="OpenTabs(event,'Histories')">
                                <i class="fa fa-list-alt" aria-hidden="true"></i></i>
                                Histories </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div id="Overview" class="col-md-9 tabcontent" style="display: none">
            <div class="profile-content">
                Overview Account
            </div>
        </div>
        <div id="Histories" class="col-md-9 tabcontent" style="display: block">
            <div class="profile-content">
                <div class="row">
                    <div class="col-9">
                        <h3 style="font-weight:lighter;">Histories</h3>
                    </div>
                </div>

                <br>

                <table id="myTable" class="table table-borderless table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Buying date</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each orders}}
                        <tr>
                            <td><a href="/user/history_detail/{{OrderID}}">#{{OrderID}}</a></th></td>
                            <td>{{OrderDate}}</td>
                            <td>{{ProName}}</td>
                            <td>{{number_format Total}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <div >
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end">
                            {{#each page_numbers}}
                                {{#if isCurPage}}
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:;">{{pagination}}</a>
                                    </li>
                                {{else}}
                                    <li class="page-item"><a class="page-link" href="?list={{pagination}}">{{pagination}}</a></li>

                                {{/if}}
                            {{/each}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>