<br>
<br>
<div class="container">
    <div class="row profile">
        <div class="col-md-3" style="background-color: #9898b9">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="/assets/account.png" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{layoutVM.curUser.f_Username}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{layoutVM.curUser.f_Name}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li id="nav-element1">
                            <a class="tablinks" href="#" onclick="OpenTabs(event,'Overview')">
                                <i class="fa fa-home" aria-hidden="true"></i></i>
                                Overview </a>
                        </li>
                        <li id="nav-element2">
                            <a class="tablinks" href="/user/profile" onclick="OpenTabs(event,'Information')">
                                <i class="fa fa-user-circle" aria-hidden="true"></i></i>
                                Account Information </a>
                        </li>
                        <li id="nav-element3" class="nav-element">
                            <a class="tablinks" href="/user/history" onclick="OpenTabs(event,'Histories')">
                                <i class="fa fa-list-alt" aria-hidden="true"></i></i>
                                Histories </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div id="Overview" class="col-md-9 tabcontent" style="display: block">
            <div class="profile-content">
                <div class="col-md-12">
                    <div class="card" style="width: 100%; border: 0px;">
                        <div>
                            <p class="card-text">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col" style="text-align: center">Quantity</th>
                                    <th scope="col" style="text-align: center">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each order}}
                                    <tr>
                                        <td>
                                            <div style="display: inline-block">
                                                <img src="/images_product/{{ProID}}/{{ProID}}.jpg" width="80" height="80">
                                            </div>
                                            <div style="margin-left: 20px; display: inline-block">
                                                <h5>{{ProName}}</h5>
                                            </div>
                                        </td>

                                        <td style="text-align: center">{{Quantity}}</td>
                                        <td style="text-align: center">{{Price}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                                <tfoot style="background-color: #00B7FF">
                                <!--Total Summary List-->
                                <tr>
                                    <td colspan="2" style="border: 0px; text-align: right; ">
                                        <span><strong>Amount:</strong></span>
                                    </td>
                                    <td style="border: 0px;">{{amount}} Products</td>
                                </tr>

                                <!--Final Total-->
                                <tr>
                                    <td colspan="2" style=" padding-top: 17px; border: 0px; text-align: right;"><span><strong>Sum:</strong></span></td>
                                    <td style="border: 0px; color: #ff3b27; font-size: 20px">{{number_format Total}}</td>
                                </tr>
                                </tfoot>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>