
<!-- Best Sellers -->

<div class="best_sellers">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tabbed_container">
                    <div class="tabs clearfix tabs-right">
                        <div class="new_arrivals_title">Hot Best Sellers Products</div>
                        <ul class="clearfix">
                            <li class="active">Macbook - IMac</li>
                            <li>Dell Laptops</li>
                            <li>HP Laptops</li>
                        </ul>
                        <div class="tabs_line"><span></span></div>
                    </div>

                    <div class="bestsellers_panel panel active">

                        <!-- Best Sellers Slider -->

                        <div class="bestsellers_slider slider">

                            {{#each dataQuantityMac}}
                                <!-- Best Sellers Item -->
                                <div class="bestsellers_item discount">
                                    <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                                        <div class="bestsellers_image"><img src="/images_product/{{ProID}}/{{ProID}}.jpg" alt=""></div>
                                        <div class="bestsellers_content">
                                            <div class="bestsellers_category"><a href="#">{{Factory}}</a></div>
                                            <div class="bestsellers_name"><a href="./product.html">{{ProName}}</a></div>
                                            <div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="bestsellers_price discount">
                                                {{number_format Price}}
                                            </div>
                                            <div class="bestsellers_price discount">
                                                <span>
                                                    Remaining: {{Quantity}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bestsellers_fav active"><i class="fas fa-heart"></i></div>
                                </div>
                            {{/each}}



                        </div>
                    </div>

                    <div class="bestsellers_panel panel">

                        <!-- Best Sellers Slider -->

                        <div class="bestsellers_slider slider">

                            {{#each dataQuantityDell}}
                                <!-- Best Sellers Item -->
                                <div class="bestsellers_item discount">
                                    <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                                        <div class="bestsellers_image"><img src="/images_product/{{ProID}}/{{ProID}}.jpg" alt=""></div>
                                        <div class="bestsellers_content">
                                            <div class="bestsellers_category"><a href="#">{{Factory}}</a></div>
                                            <div class="bestsellers_name"><a href="./product.html">{{ProName}}</a></div>
                                            <div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="bestsellers_price discount">
                                                {{number_format Price}}
                                            </div>
                                            <div class="bestsellers_price discount">
                                                <span>
                                                    Remaining: {{Quantity}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bestsellers_fav active"><i class="fas fa-heart"></i></div>
                                </div>
                            {{/each}}

                        </div>
                    </div>

                    <div class="bestsellers_panel panel">

                        <!-- Best Sellers Slider -->

                        <div class="bestsellers_slider slider">

                            {{#each dataQuantityHp}}
                                <!-- Best Sellers Item -->
                                <div class="bestsellers_item discount">
                                    <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                                        <div class="bestsellers_image"><img src="/images_product/{{ProID}}/{{ProID}}.jpg" alt=""></div>
                                        <div class="bestsellers_content">
                                            <div class="bestsellers_category"><a href="#">{{Factory}}</a></div>
                                            <div class="bestsellers_name"><a href="./product.html">{{ProName}}</a></div>
                                            <div class="rating_r rating_r_4 bestsellers_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                            <div class="bestsellers_price discount">
                                                {{number_format Price}}
                                            </div>
                                            <div class="bestsellers_price discount">
                                                <span>
                                                    Remaining: s{{Quantity}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bestsellers_fav active"><i class="fas fa-heart"></i></div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
