{{#section 'title'}}
	<li class="breadcrumb-item active">
	 <a href="/orders">Orders</a>
	</li>
	<li class="breadcrumb-item active">
	 <a href="#">Order Details List</a>
	</li>
{{/section}}
<hr/>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	<thead>
	  <tr>
	    <th>ID</th>
	    <th>Order ID</th>
	    <th>Product</th>
	    <th>Quantity</th>
	    <th>Price</th>
	    <th>Total</th>
	  </tr>
	</thead>
	<tbody>
	  {{#each Results}}
	  <tr>
	    <td>{{ID}}</td>
	    <td>{{OrderID}}</td>
	    <td>{{Product}}</td>
	    <td>{{Quantity}}</td>
	    <td>{{number_format Price}}</td>
	    <td>{{number_format Amount}}</td>
	  </tr>
	  {{/each}}
	</tbody>
</table>